/* h1{
  color: blue;
  font-size:100px;
} */

body {
  /* margin-top: 100px;
  margin-right: 200pc;
  margin-bottom: 250px;
  margin-left: 200pc; */

  background-image: url("https://cdn.pixabay.com/photo/2015/10/26/03/44/marble-1006628_960_720.jpg");

}
img {
    width: 50%;
    height: auto;

}
img {
    width: 50%;
    height: autho;

}
